{
  "extends": "jason/react",
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  }
}
